beautifulsoup4          4.11.1
DateTime                4.7
gitdb                   4.0.10
GitPython               3.1.31
html5lib                1.1
matplotlib              3.6.2
matplotlib-inline       0.1.6
numpy                   1.23.5
openpyxl                3.0.10
osqp                    0.6.7.post1
packaging               21.3
pandas                  1.5.2
pandas-datareader       0.10.0
pandas-market-calendars 4.1.1
plotly                  5.11.0
plotly-express          0.4.1
scipy                   1.10.0
scs                     3.2.7
seaborn                 0.12.1
streamlit               1.39.0
yahoo-finance           1.4.0
yahoofinancials         1.6
yfinance                0.2.54
