matplotlib==3.6.2
matplotlib-inline==0.1.6
numpy==1.23.5
openpyxl==3.0.10
pandas==1.5.2
pandas-datareader==0.10.0
pandas-market-calendars==4.1.1
plotly==5.11.0
plotly-express==0.4.1
seaborn==0.12.1
streamlit==1.39.0
yahoo-finance==1.4.0
yahoofinancials==1.6
yfinance==0.2.43
